# Github will automatically request reviews from the owners on new Pull Requests:

*       @ghostmonitor/developer


# --------------
#    WARNING
# --------------

# This file is automatically updated when a change is pushed to ghostmonitor/github-config